# Base Configuration
BASE_URL=BASE_URL_HERE

# Credentials
DB_INSTANCE=DB_INSTANCE_HERE
COMPANY_DB=COMPANY_DB_HERE
SAP_USERNAME=SAP_USERNAME_HERE
SAP_PASSWORD=SAP_PASSWORD_HERE

# Email Configuration (Office 365 Example)
SMTP_SERVER=SMTP_SERVER_HERE
SMTP_PORT=587
SENDER_EMAIL=SENDER_EMAIL_HERE
SENDER_PASSWORD=SENDER_PASSWORD_HERE

# Recipient Lists (comma separated)
EMAIL_TO=app.test@test.com,app.test2@test.com
EMAIL_CC=app.test3@test.com